<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="panel.css" type="text/css">
</head>
<body>
    <nav class=" border-box ">
        <div class="container">
        <div class="row navpad">
            <div class="col-6"><button class="btn"><h5>Test Logo</h5></button></div>
            <div class="col-6 text-right ">User Name </div>
        </div>
        </div>
    </nav>
    <div class="sidebar">
        <div class="side-top-margin container">
        <a onclick="openItem()">Promotions</a>
        <div id="mySidenav">
            <div class="mt-2"><a href="/promocode">Promo Codes</a></div>
            <div class="mt-2"><a href="/addnewpromo">Add Promo Codes</a></div>
        </div>
        <div id="main">
            <div class="mt-2"><a onclick="openSpecificItemInContent()">Orders</a></div>
            <div class="mt-2"><a href="/getallproducts">Products</a></div>
        </div>
    </div>
    </div>
        
    <div class="content">
       
    </div>

    <script>
            function openItem() {
              //document.getElementById("mySidenav").style.width = "250px";
                var x = document.getElementById("mySidenav");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
                //document.getElementById("main").style.marginTop = "250px";
            }

            
            
            </script>
</body>
</html>
