<table class="table bg-white mt-4">
                    <tr class=" bg-white mt-4 pt-2">
                        <td class="text-center"><small id="td1"></small></td>
                        <td class="text-center"><small id="td2"></small></td>
                        <td class="text-center"><small id="td3"></small></td>
                        <td class="text-center">
                            
                            <button id="td4" class="btn">
                                Confirm
                            </button>
                            <button class="btn" style="background-color: red; color: white">
                                Cancel
                            </button>
                            
                        </td>
                        <td class="text-center">
                            <small id="td5">
                                
                                    Pending
                                
                                
                                    Confirm
                                
                                
                                    Cancel
                                
                            </small>
                        </td>
                    </tr>
                </table>